{{ 'section-title-logo-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{%- endstyle -%}

<div class="title-logo-form">
    <div class="page-width section-{{ section.id }}-padding title-logo-form__container">
        <h1 class="title-logo-form__heading">{{ section.settings.title }}</h1>
        <div id="get-started" class="title-logo-form__form-wrapper">
            {% if section.settings.logo %}
                {{ section.settings.logo | image_url: width: 111 | image_tag: class: "title-logo-form__form-logo" }}
            {% endif %}
            <h2 class="title-logo-form__form-heading">{{ section.settings.form-title }}</h2>
            <form id="email-form" class="title-logo-form__form" name="email-form">
                {% render "json_sections", options_json: page.metafields.custom.options_json %}
                <a href="{{ section.settings.form-link }}">{{ section.settings.form-link-text }}</a>
            </form>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Title logo form",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "5 Reasons Why<br>These Luxury Car Seat Covers Are The Best"
    },
    {
      "type": "text",
      "id": "form-title",
      "label": "Form title",
      "default": "Start Here. We’ve Got You Covered!"
    },
    {
      "type": "text",
      "id": "form-link",
      "label": "Form button Link",
      "default": "https://stablelastore.com/products/heavy-duty-floor-mats-for-cars"
    },
    {
      "type": "text",
      "id": "form-link-text",
      "label": "Form link Text",
      "default": "Let's go"
    },
    {
      "type": "text",
      "id": "fields_json",
      "label": "Fields json",
      "default": "Let's go"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Mobile padding top",
      "default": 56
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Mobile padding bottom",
      "default": 40
    }
  ]
}
{% endschema %}
